body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

a, h1 {
  color: white; 
  font-family: "Sofia", sans-serif;
  font-size: 50px; 
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 37px -367.6666666667px #008cff, 185px -193.6666666667px #ff00cc, 237px -408.6666666667px #003cff, -141px -350.6666666667px #2200ff, -239px -235.6666666667px #99ff00, -44px -173.6666666667px #00ff0d, 61px -255.6666666667px #ff6600, -95px 79.3333333333px #0037ff, 189px -12.6666666667px #008cff, 228px -237.6666666667px #ff00bf, 155px 62.3333333333px #d900ff, -44px -93.6666666667px #ff4d00, 218px -195.6666666667px #9d00ff, -35px 31.3333333333px #ff4000, -201px -73.6666666667px #80ff00, -112px 47.3333333333px #009dff, -183px 20.3333333333px #00ff6f, 218px 33.3333333333px #ff0088, -108px -176.6666666667px #fff200, 225px -185.6666666667px #3300ff, 249px -387.6666666667px #7300ff, 70px -357.6666666667px #ff00f2, 138px 29.3333333333px red, -238px -251.6666666667px #ffbb00, 6px 21.3333333333px #00a6ff, -140px -138.6666666667px #a6ff00, 128px -39.6666666667px #ff0033, 188px -12.6666666667px #33ff00, -201px -340.6666666667px #ff00a2, 61px -332.6666666667px #008cff, 198px -394.6666666667px #001eff, 232px -59.6666666667px #ff006a, -31px -72.6666666667px #00ff51, -135px -333.6666666667px #ffea00, -242px -269.6666666667px #ffd900, 179px -231.6666666667px #3300ff, 29px 54.3333333333px #002fff, 174px -345.6666666667px #ffbf00, -145px -320.6666666667px #ffee00, 114px -92.6666666667px #95ff00, 87px -96.6666666667px #b300ff, -106px -186.6666666667px #6600ff, -163px -334.6666666667px #00ffe1, 151px -286.6666666667px deepskyblue, 123px -134.6666666667px #ff6f00, -117px -214.6666666667px #ff1e00, -111px -236.6666666667px #9dff00, -172px -292.6666666667px #ff0040, 25px -322.6666666667px #ff004d, 54px -77.6666666667px #fb00ff, -109px -398.6666666667px #ff00b3;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 37px -367.6666666667px #008cff, 185px -193.6666666667px #ff00cc, 237px -408.6666666667px #003cff, -141px -350.6666666667px #2200ff, -239px -235.6666666667px #99ff00, -44px -173.6666666667px #00ff0d, 61px -255.6666666667px #ff6600, -95px 79.3333333333px #0037ff, 189px -12.6666666667px #008cff, 228px -237.6666666667px #ff00bf, 155px 62.3333333333px #d900ff, -44px -93.6666666667px #ff4d00, 218px -195.6666666667px #9d00ff, -35px 31.3333333333px #ff4000, -201px -73.6666666667px #80ff00, -112px 47.3333333333px #009dff, -183px 20.3333333333px #00ff6f, 218px 33.3333333333px #ff0088, -108px -176.6666666667px #fff200, 225px -185.6666666667px #3300ff, 249px -387.6666666667px #7300ff, 70px -357.6666666667px #ff00f2, 138px 29.3333333333px red, -238px -251.6666666667px #ffbb00, 6px 21.3333333333px #00a6ff, -140px -138.6666666667px #a6ff00, 128px -39.6666666667px #ff0033, 188px -12.6666666667px #33ff00, -201px -340.6666666667px #ff00a2, 61px -332.6666666667px #008cff, 198px -394.6666666667px #001eff, 232px -59.6666666667px #ff006a, -31px -72.6666666667px #00ff51, -135px -333.6666666667px #ffea00, -242px -269.6666666667px #ffd900, 179px -231.6666666667px #3300ff, 29px 54.3333333333px #002fff, 174px -345.6666666667px #ffbf00, -145px -320.6666666667px #ffee00, 114px -92.6666666667px #95ff00, 87px -96.6666666667px #b300ff, -106px -186.6666666667px #6600ff, -163px -334.6666666667px #00ffe1, 151px -286.6666666667px deepskyblue, 123px -134.6666666667px #ff6f00, -117px -214.6666666667px #ff1e00, -111px -236.6666666667px #9dff00, -172px -292.6666666667px #ff0040, 25px -322.6666666667px #ff004d, 54px -77.6666666667px #fb00ff, -109px -398.6666666667px #ff00b3;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 37px -367.6666666667px #008cff, 185px -193.6666666667px #ff00cc, 237px -408.6666666667px #003cff, -141px -350.6666666667px #2200ff, -239px -235.6666666667px #99ff00, -44px -173.6666666667px #00ff0d, 61px -255.6666666667px #ff6600, -95px 79.3333333333px #0037ff, 189px -12.6666666667px #008cff, 228px -237.6666666667px #ff00bf, 155px 62.3333333333px #d900ff, -44px -93.6666666667px #ff4d00, 218px -195.6666666667px #9d00ff, -35px 31.3333333333px #ff4000, -201px -73.6666666667px #80ff00, -112px 47.3333333333px #009dff, -183px 20.3333333333px #00ff6f, 218px 33.3333333333px #ff0088, -108px -176.6666666667px #fff200, 225px -185.6666666667px #3300ff, 249px -387.6666666667px #7300ff, 70px -357.6666666667px #ff00f2, 138px 29.3333333333px red, -238px -251.6666666667px #ffbb00, 6px 21.3333333333px #00a6ff, -140px -138.6666666667px #a6ff00, 128px -39.6666666667px #ff0033, 188px -12.6666666667px #33ff00, -201px -340.6666666667px #ff00a2, 61px -332.6666666667px #008cff, 198px -394.6666666667px #001eff, 232px -59.6666666667px #ff006a, -31px -72.6666666667px #00ff51, -135px -333.6666666667px #ffea00, -242px -269.6666666667px #ffd900, 179px -231.6666666667px #3300ff, 29px 54.3333333333px #002fff, 174px -345.6666666667px #ffbf00, -145px -320.6666666667px #ffee00, 114px -92.6666666667px #95ff00, 87px -96.6666666667px #b300ff, -106px -186.6666666667px #6600ff, -163px -334.6666666667px #00ffe1, 151px -286.6666666667px deepskyblue, 123px -134.6666666667px #ff6f00, -117px -214.6666666667px #ff1e00, -111px -236.6666666667px #9dff00, -172px -292.6666666667px #ff0040, 25px -322.6666666667px #ff004d, 54px -77.6666666667px #fb00ff, -109px -398.6666666667px #ff00b3;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 37px -367.6666666667px #008cff, 185px -193.6666666667px #ff00cc, 237px -408.6666666667px #003cff, -141px -350.6666666667px #2200ff, -239px -235.6666666667px #99ff00, -44px -173.6666666667px #00ff0d, 61px -255.6666666667px #ff6600, -95px 79.3333333333px #0037ff, 189px -12.6666666667px #008cff, 228px -237.6666666667px #ff00bf, 155px 62.3333333333px #d900ff, -44px -93.6666666667px #ff4d00, 218px -195.6666666667px #9d00ff, -35px 31.3333333333px #ff4000, -201px -73.6666666667px #80ff00, -112px 47.3333333333px #009dff, -183px 20.3333333333px #00ff6f, 218px 33.3333333333px #ff0088, -108px -176.6666666667px #fff200, 225px -185.6666666667px #3300ff, 249px -387.6666666667px #7300ff, 70px -357.6666666667px #ff00f2, 138px 29.3333333333px red, -238px -251.6666666667px #ffbb00, 6px 21.3333333333px #00a6ff, -140px -138.6666666667px #a6ff00, 128px -39.6666666667px #ff0033, 188px -12.6666666667px #33ff00, -201px -340.6666666667px #ff00a2, 61px -332.6666666667px #008cff, 198px -394.6666666667px #001eff, 232px -59.6666666667px #ff006a, -31px -72.6666666667px #00ff51, -135px -333.6666666667px #ffea00, -242px -269.6666666667px #ffd900, 179px -231.6666666667px #3300ff, 29px 54.3333333333px #002fff, 174px -345.6666666667px #ffbf00, -145px -320.6666666667px #ffee00, 114px -92.6666666667px #95ff00, 87px -96.6666666667px #b300ff, -106px -186.6666666667px #6600ff, -163px -334.6666666667px #00ffe1, 151px -286.6666666667px deepskyblue, 123px -134.6666666667px #ff6f00, -117px -214.6666666667px #ff1e00, -111px -236.6666666667px #9dff00, -172px -292.6666666667px #ff0040, 25px -322.6666666667px #ff004d, 54px -77.6666666667px #fb00ff, -109px -398.6666666667px #ff00b3;
  }
}
@keyframes bang {
  to {
    box-shadow: 37px -367.6666666667px #008cff, 185px -193.6666666667px #ff00cc, 237px -408.6666666667px #003cff, -141px -350.6666666667px #2200ff, -239px -235.6666666667px #99ff00, -44px -173.6666666667px #00ff0d, 61px -255.6666666667px #ff6600, -95px 79.3333333333px #0037ff, 189px -12.6666666667px #008cff, 228px -237.6666666667px #ff00bf, 155px 62.3333333333px #d900ff, -44px -93.6666666667px #ff4d00, 218px -195.6666666667px #9d00ff, -35px 31.3333333333px #ff4000, -201px -73.6666666667px #80ff00, -112px 47.3333333333px #009dff, -183px 20.3333333333px #00ff6f, 218px 33.3333333333px #ff0088, -108px -176.6666666667px #fff200, 225px -185.6666666667px #3300ff, 249px -387.6666666667px #7300ff, 70px -357.6666666667px #ff00f2, 138px 29.3333333333px red, -238px -251.6666666667px #ffbb00, 6px 21.3333333333px #00a6ff, -140px -138.6666666667px #a6ff00, 128px -39.6666666667px #ff0033, 188px -12.6666666667px #33ff00, -201px -340.6666666667px #ff00a2, 61px -332.6666666667px #008cff, 198px -394.6666666667px #001eff, 232px -59.6666666667px #ff006a, -31px -72.6666666667px #00ff51, -135px -333.6666666667px #ffea00, -242px -269.6666666667px #ffd900, 179px -231.6666666667px #3300ff, 29px 54.3333333333px #002fff, 174px -345.6666666667px #ffbf00, -145px -320.6666666667px #ffee00, 114px -92.6666666667px #95ff00, 87px -96.6666666667px #b300ff, -106px -186.6666666667px #6600ff, -163px -334.6666666667px #00ffe1, 151px -286.6666666667px deepskyblue, 123px -134.6666666667px #ff6f00, -117px -214.6666666667px #ff1e00, -111px -236.6666666667px #9dff00, -172px -292.6666666667px #ff0040, 25px -322.6666666667px #ff004d, 54px -77.6666666667px #fb00ff, -109px -398.6666666667px #ff00b3;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

#parent {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#parent > li {
  display: inline-block;
  width: 25%;
  
}


